@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu");

html,
h1,
h2,
h3,
h4,
p,
a,
button {
  font-family: "Source Sans Pro", "Ubuntu", sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #161e2d;
  color: white;
}
.logo {
  max-height: 80px;
}
.wrapper {
  border: 1px solid;
  border-radius: 10px;
  background: #212c42;
}
.section-header {
  border-bottom: 1px solid;
}
.section-header h3:first-child {
  border-right: 1px solid;
}
.section .static {
  border-right: 1px dotted;
}
.section {
  border-bottom: 1px solid;
}
.section:last-child {
  border-bottom: 0;
}
.free-child {
  cursor: grab;
  transition: 0.3s ease-in-out;
  margin-left: 0.5rem;
  border: 1px solid #212c42;
}
.asrs .free-child {
  margin-left: 0;
  border: 1px solid;
}
.free-child:hover {
  background-color: #454e6087;
  border: 1px solid;
}
.section.correct {
  background: #3bc81e;
  border-radius: 8px;
}
.section.correct .free-child {
  border: 1px solid #3bc81e;
}
.section.correct .free-child:hover {
  background-color: transparent;
}
.logo {
  max-height: 80px;
}
.question-count-block {
  color: #c4c6ca;
}
.cursor-pointer {
  cursor: pointer !important;
}
.flag-container {
  background-color: #161e2d;
  border: 1px solid white;
  color: white;
  border-radius: 0.5rem;
}
.flag-header {
  color: white;
  border-bottom: 1px solid white;
  padding: 0.5rem 1rem;
}
.flag-content {
  padding: 1rem 1rem;
}
.war-zone {
  height: 350px;
}
.arrow {
  position: absolute;
  left: 126px;
  top: 53px;
  width: 200px;
  transition: 1s ease-out;
  z-index: 1;
}
.shield {
  transform: skew(8deg, 40deg);
  margin-left: -20px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
}
.reward img {
  border: 1px solid;
  border-radius: 10px;
}
.mcskidy {
  height: 200px;
}
.mcskidy .shield:nth-child(6) {
  transform: skew(8deg, -45deg);
  top: 8px;
  z-index: 5;
}
.mcskidy .shield:nth-child(5) {
  top: 40px;
  z-index: 6;
  left: -3px;
}
.mcskidy .shield:nth-child(4) {
  left: 18px;
  transform: skew(2deg, -45deg);
  top: 55px;
  z-index: 1;
}
.mcskidy .shield:nth-child(3) {
  left: 10px;
  top: 78px;
  z-index: 4;
}
.mcskidy .shield:nth-child(2) {
  left: 30px;
  transform: skew(2deg, -45deg);
  top: 103px;
  z-index: 3;
}
.mcskidy .shield:nth-child(1) {
  left: 26px;
  top: 130px;
  z-index: 4;
}
.yeti.down {
  margin-left: -91px;
  height: 353px !important;
  margin-bottom: -18px;
}
.yeti.release {
  margin-left: -10px;
  height: 331px !important;
  margin-bottom: 21px;
}
.next {
  background: #3bc81e;
}
.next:hover {
  background: #32971d;
  outline: 1px solid #d4d8df;
}
#mcskidy {
  z-index: 4;
}
